AnT_bak.py
AnT_BAK_241030.py
diagram_presentation.pptx
Untitled.ipynb
.ipynb_checkpoints/Info_Annotation-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Info_Annotation.ipynb
KT_Flexline_소개자료-10_crop163.webp
test_lableme.json
